{% load wagtailcore_tags %}

<div class="image {{ self.alignment }}">
  {% if self.url or self.page %}

  <a class="{% if self.url %}external{% else %}internal{% endif %}"
    href="{% if self.url %}{{ self.url }}{% else %}{% pageurl self.page %}{% endif %}">
    {% include "kdl_wagtail_core/includes/image_block_figure.html" %}
  </a>

  {% else %}

  {% include "kdl_wagtail_core/includes/image_block_figure.html" %}

  {% endif %}

  {% include "kdl_wagtail_core/includes/description_transcription.html" with obj=self %}
</div>